{% extends 'weblog/base.html' %}
{% load static %}


{%block title %}posts{% endblock %}


{% block body %}


<div class="container">
    <div class="mx-auto text-center">
        <h3 class="text-primary mx-auto">
            {{ post.title }}
        </h3>
    </div>
    <div>
        <p style="text-align:center">
            <img src="{{ post.attachment.url }}" alt="">
        </p>
    </div>

    <div class="post-preview bg-secondary text-light px-2" style="text-align:justify">
        <p>
            {{ post.body }}

    </div>
    </p>
    <p class="post-meta  bg-info text-light">Posted by
        <a href="{% url 'Get_post_username' post.author.id  %}" class="text-light">{{ post.author.user.first_name }}</a>

        on {{ post.create_at}}</p>

    <div>
        <form id="comment_form">
            {% csrf_token %}
            {% include 'content/form.html' %}
            <input type="submit" value="ok">
        </form>
    </div>
    <div id="comment_container">
        {% for comment in comments %}
        <div>
            {{ comment.author.user.username }}
            <div class="mt-3">
                {{ comment.content }}
            </div>
            <div>
                dislikse:<span id="dislike_count_container{{ comment.id }}">{{ comment.dislike_count }}</span>
                <br>
                likes:<span id="like_count_container{{ comment.id }}">{{ comment.like_count }}</span>
            </div>

            <div>
                <button onclick="likeComment({{ comment.id }})">
                    like
                </button>
                <button onclick="likeComment({{ comment.id }} , false)">
                    dislike
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block javascript %}
<script>
    function likeComment(commentID, condition = true) {
        const data = JSON.stringify({comment_id: commentID, condition})
        $.ajax({
            type: "post",
            url: "{% url 'like_comment' %}",
            data: data,
            success: function (response) {
                const data = JSON.parse(response)
                $(`#like_count_container${commentID}`).text(data.like_count);
                $(`#dislike_count_container${commentID}`).text(data.dislike_count);
            }
        });
    }
</script>
<script>
    document.getElementById("comment_form").addEventListener("submit", function (event) {
        event.preventDefault();
        const content = $('#id_content').val()
        const data = JSON.stringify({content, post_id:{{post.id}}})
        $.ajax({
            type: "post",
            url: "{% url 'add_comment' %}",
            data: data,
            success: function (response) {
                const data = JSON.parse(response)
                $( "#comment_container" ).prepend( `<div>
                                ${data.full_name}
                                <div class="mt-3">
                                    <div>
                                         ${data.content}
                                    </div>
                                    <div>
                                        dislikse:<span id="dislike_count_container${data.comment_id}">${data.dislike_count}</span>
                                        <br>
                                        likes:<span id="like_count_container${data.comment_id}">${data.like_count}</span>
                                    </div>
                                    <div>
                                        <button onclick="likeComment(${data.comment_id})">
                                            like
                                        </button>
                                        <button onclick="likeComment(${data.comment_id} , false)">
                                            dislike
                                        </button>
                                    </div>
                                </div>
                            </div>` );
            }
        });
    }, false);
</script>
{% endblock %}